
/*------------------------------------------------------------------
    Layout styles
-------------------------------------------------------------------*/

header.home-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    @include transition(.2s);
}
header.content-page {
    position: relative;
    z-index: 99999;
}

section {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height:auto !important;
    margin:0;
    padding:60px 0 100px;
    overflow: hidden;
    text-align: center;
    background-color:$whiteColor;
    &.parallax-header {
        background-color: transparent;
    }
}

