
/*------------------------------------------------------------------
    Main header menu styles
-------------------------------------------------------------------*/

.main-menu {
    position:fixed;
    width:100%;
    margin:0 auto;
    padding:0 15px;
    text-align: center;
    border-radius:0;
    @include transition(padding 0.3s);
    .main-menu-inner {
        position:relative;
        display: table;
        width: 100%;
        max-width:1170px;
        margin:30px auto 0;
        @include transition(margin 0.3s);
    }
    .navbar-main-logo {
        display: block;
        position:absolute;
        top:50%;
        left:0;
        @include transform(translateY(-50%));
        svg {
            width: 100px;
            height: auto;
        }
        img {
            width: 100px;
            height: auto;
        }
    }
    .fix-logo {
        display: block;
    }
    .scroll-logo{
        display: none;
        * {
         fill:$defaultThemeColor;   
        }
    }
    
    
    .navbar-nav {
        float: right;
        width: auto;
        padding:20px 0;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        @include transition(margin 0.3s);
        > li {
            float: none;
            display: inline-block;
            height: 100%;
            margin: 0 -2.5px;
            padding: 9px 12px;
            vertical-align: middle;
            border: 1px solid transparent;
            border-radius:3px;
            a {
                padding: 0;
                color: $whiteColor;
                font-size: 0.85em;
                font-weight: 400;
                line-height:.82em;
                letter-spacing: 1.3px;
                &:hover, &:focus {
                    background-color: transparent;
                    opacity: 0.6;
                    text-decoration: none;
                }
                .fa {
                    display: inline-block;
                }
            }
            &.dropdown {
                .dropdown-menu {
                    display: block;
                    background-color:transparent;
                    border:none;
                    box-shadow: none;
                    li {
                        position: relative;
                        height:0px;
                        padding:0 15px;
                        overflow: hidden;
                        background-color: rgba(255, 255, 255, 0.9);
                        @include transition(.5s ease-in-out);
                        a {
                            padding:10px 0;
                            font-size:.75em;
                            line-height:1em;
                            color: $darkGrayColor;
                            letter-spacing: 0.75px;
                        }
                    }
                    > .active > a {
                        background-color: transparent;
                        color:$defaultThemeColor;
                        &:hover, &:focus {
                            background-color: transparent;
                            color:$defaultThemeColor;
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        li {
                            height:30px;
                            @include transition(.3s ease-in-out);
                            &:first-child,
                            &:last-child {
                                height:40px;
                            }
                            &:first-child {
                                padding-top:10px;
                            }
                            &:last-child {
                                padding-bottom:10px;
                            }
                        }
                    }
                }
            }
        }
        
        > li.active > a {
            color: $defaultThemeColor;
        }

        > li.reserve {
            width:auto;
            max-width:0;
            margin-left:0;
            padding:0;
            overflow: hidden;
            white-space: nowrap;
            border-color: $defaultThemeColor;
            background: transparent;
            opacity:0;
            cursor: pointer;
            @include transition(0.3s);
            @include transform(translateX(400px));
            > a {
                color: $defaultThemeColor;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &:hover {
                border-color: $defaultThemeColor;
                background: $defaultThemeColor;

                > a {
                    color: $whiteColor
                }
            }
        }
    }

    // mobile menu BTN styles
    .mobile-menu-btn {
        position: absolute;
        right: 10px;
        top: 0;
        display: none;
        padding: 13px;
        font-size: 30px;
        cursor: pointer;
        span {
            position:relative;
            top:0;
            display: block;
            width: 25px;
            height: 3px;
            margin-top: 4px;
            background-color: #000;
            box-shadow:none;
            @include transition(.5s);
        }
        &.active {
            span {
                @include transition(.5s);
                &:nth-child(1) {
                    @include transform(rotate(45deg));
                    top:5px;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    @include transform(rotate(-45deg));
                    top: -9px;
                }
            }
        }
    }

    // menu style version 2
    &.version-2 {
        .navbar-nav {
            float: none;
        }
        .navbar-main-logo {
            position: relative;
            top:0;
            @include transform(translateY(0));
        }
        .navbar-nav {
            li{
                &.first-logo {
                    position:absolute;
                    left:0;
                    top:50%;
                    padding:0;
                    @include transform(translateY(-50%));
                    display:none;
                }
                &.main-logo {
                    display: inline-block;
                }
            }
        }
        &.navbar-fixed {
            .navbar-nav {
                text-align: right;
                li{
                    &.first-logo {
                        display:inline-block;
                    }
                    &.main-logo {
                        display: none;
                    }
                }
            }
        }   
       
    }
    // menu style version 3
    &.version-3 {
        &.main-menu {
            a {
                color: $darkGrayColor;
            }
            background-color:rgba(255,255,255,.9);
            .navbar-nav {
                > li {
                    &.reserve{
                        display: inline-block;
                        max-width:400px;
                        height:42px;
                        margin-left:13px;
                        padding:0 20px;
                        line-height:42px;
                        border-color:$defaultThemeColor;
                        background-color: transparent;
                        opacity:1;
                        cursor: pointer;
                        @include transform(translateX(0));
                        a {
                            display:inline-block;
                            color:$defaultThemeColor;
                        }
                        &:focus,&:hover {
                            background-color:$defaultThemeColor;
                            a {
                                color:$whiteColor;
                            }
                        }
                    }
                    &.dropdown {
                        .dropdown-menu {
                            padding:26px 0 0;
                        }
                    }
                }
            }
            .navbar-main-logo {
                svg * {
                    fill:$defaultThemeColor;
                }
            }
        }
        &.navbar-fixed {
            padding: 9px 15px;
        }
    }

    // menu style version 4
    &.version-4 {
        &.main-menu {
            border-bottom: 1px solid rgba(255,255,255,0.5);
            .navbar-nav {
                > li {
                    &.reserve{
                        display: inline-block;
                    }
                    &.dropdown {
                        .dropdown-menu {
                            padding:22px 0 0;
                        }
                    }
                }
            }
            &.navbar-fixed {
                border-bottom:none;
            }
        }
    }
}

// scroll fixed menu
.navbar-fixed {
    padding:8px 15px;
    border: 0;
    background-color: rgba(255,255,255,0.95);
    box-shadow:1px 2px 5px rgba(0,0,0,.2);
    @include backface-visibility(hidden);
    @include transform(translate3d(0,0,0));
    @include transition(background-color .5s);
    .main-menu-inner {
        margin:0 auto;
    }
    .navbar-main-logo {
        margin-top:0;
        .fix-logo {
            display:none;
        }
        .scroll-logo{
            display: block;
        }
    }
    .navbar-nav {
        float: right;
        width: auto;
        margin-top:0;
        padding:0;
        text-align: center;
        border: 0 !important;
        > li {
            width: auto;
            padding: 7px 12px;
            line-height: 1;
            border-radius:3px;
            > a {
                display: inline-block;
                padding: 0;
                color: $darkGrayColor;
                text-shadow: none;
                @include transition(0.5s ease);
                &:hover {
                    color: $defaultThemeColor;
                    opacity: 1;
                }
            }
        }
        > li.reserve {
            max-width:400px;
            padding:13px 20px;
            margin-left:13px;
            opacity:1;
            @include transform(translateX(0))
        }
        > li.active.reserve {
            > a {
                color: $whiteColor;
            }
        }
        > li.dropdown {
            .dropdown-menu {
                padding-top:15px !important;
                li {
                    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
                    &:first-child {
                            &:before {
                                content:"";
                                position:absolute;
                                left:-10px;
                                top:-10px;
                                width:110%;
                                height:10px;
                                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
                            }
                        }
                    a {
                        color:$darkGrayColor;
                    }
                } 
            }
        }
    }
}

.mobile-logo {
    display:none;
} 

// mobile menu
.main-menu.mobile-menu {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    box-shadow:1px 2px 5px rgba(0,0,0,.2);
    background-color: rgba(255,255,255,0.95);
    border: 0;
    @include backface-visibility(hidden);
    @include transform(translate3d(0,0,0) scale(1));
    @include transition(0.5s ease);
    .main-logo {
        display: none !important;
    }
    .mobile-logo {
        display:table;
        margin: 6px 0 0;
    }

    .navbar-brand {
        display: inline-block;
        margin: 0 !important;
    }
    
    .mobile-menu-btn {
        display: block;
    }

    .navbar-nav {
        float: right;
        display: none;
        width: auto;
        margin-top: 0;
        padding: 7px 0;
        text-align: center;
        border: 0 !important;
    }
}

// mobile menu open styles
.main-menu.mobile-menu.mobile-menu-open {
    height: 100%;
    overflow: auto;
    @include transition (1s ease);
    .navbar-nav {
        float: none;
        display: block;
        position: absolute;
        left: 15px;
        top: 50px;
        width: 100%;
        > li {
            display: block;
            width: auto;
            margin:10px 0;
            > a {
                
                display: inline-block;
                padding: 0;
                color: $darkGrayColor;
                line-height: 1;
                text-shadow: none;
                &:hover {
                    color: $defaultThemeColor;
                    opacity: 1;
                }
            }
        }
        
        > li.reserve {
            display: inline-block;
            margin: 0;
            background: $defaultThemeColor;
            > a {
                color: $whiteColor;
            }

            &:hover {
                border-color: $defaultThemeColor;
                background: transparent;
                a {
                    color: $defaultThemeColor;
                }
            }
        }
        > li.active.reserve {
            > a {
                color: $whiteColor;
            }
        }
    }
}

// other pages menu
.other-pages {
    .main-menu {
        .navbar-nav {
            li{
                &.reserve {
                    display: inline-block;
                    overflow: hidden;
                    font: 400 1em "Lato",sans-serif;
                    color: $whiteColor;
                    text-transform: uppercase;
                    border: 1px solid $whiteColor;
                    border-radius:3px;
                    background: transparent;
                    &:hover, &:focus {
                        background-color: rgba(255,255,255,.5);
                    }
                }
            }
        }
        &.navbar-fixed {
            .navbar-nav {
                li.reserve {
                    display: inline-block;
                    border-color: $defaultThemeColor;
                    background: transparent;
                    > a {
                        color: $defaultThemeColor;
                    }
                    &:hover {
                        border-color: $defaultThemeColor;
                        background: $defaultThemeColor;
                        > a {
                            color: $whiteColor
                        }
                    }
                }
            }
        }
    }
}

