
/*------------------------------------------------------------------
    Products styles
-------------------------------------------------------------------*/

.products {
    .products-body {
        width: 100%;
        overflow: visible;
        .products-list {
            article {
                width: 100%;
                margin: 0;
                overflow: hidden;
            }
            
            .prod-image {
                img {
                    width:auto;
                    height:auto;
                    max-width: 100%;
                    max-height:100%;
                    border-radius:4px;
                }
            }
            
            .prod-description {
                text-align: left;
                .btn {
                    margin-top: 20px;
                    margin-bottom:0;
                }
                .line-lg {
                    margin: 20px 0;
                }
            }
        }
    }

    // style version 1
    &.version-1 {
        .products-list {
            overflow: hidden;
        }
    }

    // style version 2
    &.version-2 {
        .section-title {
            color:$whiteColor;
        }
        .section-description {
            color:$whiteColor;
        }
        .products-list {
            overflow: hidden;
            article {
                width:50%;
            }
            .prod-description {
                h5 {
                    margin-bottom: 10px;
                    color:$whiteColor;
                }
                p.line {
                    margin-bottom:10px;
                    background-color:$whiteColor;
                }
                p {
                    margin-bottom:10px;
                    color:$whiteColor;
                }
            }
        }
        .btn {
            margin-top: 10px;
        }
        a.next,
        a.prev {
            color: $whiteColor;
        }
    }

    // style version 3
    &.version-3 {
        .products-list {
            overflow: hidden;
            article {
                width:33.333%;
                padding:0 15px;
                .article-inner{
                    display: block;
                    margin: 0;
                    border: 1px solid $superlightGrayColor;
                    overflow:hidden;
                    border-radius:4px;
                }
            }       
            .prod-image {
                float: none;
                display:block;
                width:100%;
                vertical-align: middle;
                img {
                    width:auto;
                    height:auto;
                    max-width: 100%;
                    max-height:100%;
                    border-radius:0;
                }
            }
            .prod-description {
                display:block;
                width:100%;
                padding:10px 20px;
                text-align:center;
                h5{
                    margin-bottom: 30px;
                }
                .line-lg {
                    span {
                        margin:auto;
                    }
                }
                p {
                    color:$lightGrayColor;
                }
                .btn {
                    margin-bottom: 20px;
                }
            }
        }
    }

}

// style version 4
#products.version-4 {
    .news-body {
        border:none;
    }
}
.products-thumbs {
    width: 100%;
    margin: 30px auto 0;
    padding: 0;
    li {
        z-index: 10;
        display: inline-block;
        width: 60px;
        max-width: 60px;
        height: 100%;
        margin: 0 10px;
        overflow: hidden;
        list-style-type: none;
        border: 1px solid transparent;
        cursor: pointer;
        @include transition(0.4s ease-in);
        &:hover {
            border: 1px solid $defaultThemeColor;
            border-radius:5px;
            @include transition(0.4s ease);
            img {
                z-index: 0;
                opacity: 0.5;
                @include transition(0.4s ease);
            }
        }
        &.active {
            border:1px solid $defaultThemeColor;
            border-radius:5px;
            @include transition(0.4s ease);
            img {
                visibility: visible;
                border-radius:5px;
                opacity: 0.5;
                @include transition(0.4s ease);
            }
        }
        
        img {
            position: relative;
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
        }
    }
}