.section-description {
    margin-bottom: 5px !important;
    margin-bottom: 20px !important;
}

.about {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.line-lg {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.line-lg span {
    width: 100% !important;
}

.summary {
    margin-top:40px !important;
    margin-bottom:10px !important;
}

.close-x {
    font-size: 1.2em;
    text-align: right;
    cursor: pointer !important;
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
    width:50px;
    height: 50px;
}

.modal {
    z-index: 10001 !important;
    margin-top:70px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width:60% !important;
    min-width: 320px !important;
    overflow-y: auto !important;
}

.ui-widget-overlay {
    z-index: 10000 !important;
    opacity: 0.75 !important;
    filter: Alpha(Opacity=50) !important;
    background-color: #000000 !important;
	 position: absolute !important;
	 left: 0px !important;
	 top: 0px !important;
	 right: 0px !important;
	 bottom: 0px !important;
}

.margin-top {
    margin-top: 20px !important;
}

.white-section {
    background-color: white !important;
    margin-top: 20px !important;
    text-align: left !important;
    padding: 20px !important;
    border: 1px solid lightgray;
    border-radius: 3px;
    line-height: 150% !important;
}

.team-body {
    max-width: 300px !important;
}

.open-map {
    border: solid 1px black;
    top: -1px !important;
    height: 101% !important;
}

.padding {
    padding: 15px !important;
}

.case-study {
    height: 420px !important;
}

.customers-lazy {
    height: 420px !important;
}

.field-error .field-bad .input-error {
	padding: 1px 4px 1px 4px !important;
	font-size: 0.9em !important;
	font-weight: bold !important;
	color: red !important;
	background-color: white !important;
}

.field-good {
	padding: 1px 4px 1px 4px !important;
	font-size: 0.9em !important;
	font-weight:bold !important;
	color: green !important;
	background-color: white !important;
}

.input-group.mail-block .form-control {
	height: 142px !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none !important;
}

.gmnoprint div {
    background:none !important;
}

.mobile-menu-btn {
    padding-right: 0px !important;
    margin-right: 0px !important;
}