<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP8C1H41LB"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-SP8C1H41LB');
	</script>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script>
      // Set <base href> dynamically so AngularJS html5Mode works in both the
      // github.io preview URL (/nevo-public-website/) and the production URL (/).
      document.write('<base href="' + location.pathname.replace(/[^/]*$/, '') + '"/>');
    </script>
    <title>Nevo Technologies</title>
    <meta name="description" content="Nevo Technologies"/>
    <meta name="keywords" content="Nevo Technologies, Software Development, Project Managment, Professional Services"/>
    <link href="./images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRaleway:400,300,700' rel='stylesheet'
          type='text/css'/>

    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="./css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="./css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <link href="./css/nevo-style.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="home" class="index" ng-controller="controller" ng-app="app">

<!-- preloader -->
<div id="page-preloader" class="pageload-overlay pageload-loading"></div>
<!-- preloader end -->

<div class="ui-widget-overlay" style="display: none"></div>

<header class="home-page">
    <!-- main menu -->
    <nav class="navbar main-menu">
        <div class="main-menu-inner">
            <a class="navbar-main-logo nav-scroll" href="#main-section">
                <img src="./images/nevo1.png"
                     class="fix-logo" viewBox="0 0 196.3 84.2" style="enable-background:new 0 0 196.3 84.2;">
                <img src="./images/nevo.png"
                     class="scroll-logo" viewBox="0 0 196.3 84.2" style="enable-background:new 0 0 196.3 84.2;">
            </a>
                    <span class="mobile-menu-btn">
                    	<span></span>
                    	<span></span>
                    	<span></span>
                    </span>
            <ul class="nav navbar-nav">
                <li><a ng-click="track('nav','home')" href="#main-section">Home</a></li>
                <li><a ng-click="track('nav','about')" href="#about-us">About</a></li>
                <li><a ng-click="track('nav','our-people')" href="#team">Our people</a></li>
                <li><a ng-click="track('nav','knowledge')" href="#our-knowledge">Our knowledge</a></li>
                <li><a ng-click="track('nav','services')" href="#services">Services</a></li>
                <li><a ng-click="track('nav','case-studies')" href="#case-studies">Case studies</a></li>
                <li><a ng-click="track('nav','jobs')" href="#jobs">Jobs</a></li>
                <li><a ng-click="track('nav','contact-us')" href="#contact-us">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <!-- main menu -->
</header>

<!-- main section -->
<section id="main-section" class="main-section parallax-header version-1">
    <div class="bg-effect parallax">
        <img class="parallax-img" src="./images/boston6.jpg" alt="Nevo Technologies, Cambridge, MA"/>
    </div>
    <svg class="main-block-svg" x="0px" y="0px" viewBox="-1068.8 -253 1940.7 801.9"
         enable-background="new -1068.8 -253 1940.7 801.9">
        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="-1068.8,548.9 -854.9,438.9 -542.9,504.9
                45,223 153,269 871.9,-253 "/>
    </svg>
    <div class="container">
        <div class="head-title-block main-section-title">
            <h1>
                <div style="font-size: 0.60em">
                    NEVO&nbsp;TECHNOLOGIES
                </div>
            </h1>
            <h3>QUALITY&nbsp;SOFTWARE. ON&nbsp;TIME. WITHIN&nbsp;BUDGET.</h3>
            <a class="btn btn-primary nav-scroll" href="#contact-us">Contact&nbsp;us</a>
        </div>
        <div class="slide-bottom">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
</section>
<!-- main section end -->

<!-- about-us -->
<section id="about-us" class="products version-1">
    <h2 class="section-title">About us</h2>
    <p class="section-description">Information about Nevo
        <span class="hidden-xs hidden-sm">and what we do</span>
    </p>
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="products-list">
                    <article>
                        <div class="col-sm-6 col-md-6 col-lg-6 prod-image">
                            <img src="./images/about-us.jpg" alt="About Nevo"/>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 prod-description">
                            <h5>Nevo Technologies</h5>
                            <p class="line-lg"><span></span></p>
                            <p>
                                For more than twenty-five years, Nevo Technologies has been helping its clients meet their
                                application software development needs by combining the very highest level of expertise,
                                experience, and process.
                            </p>
                            <p>
                                Founded on the premise that a high performance development team can provide superior
                                results at dramatically lower costs, Nevo has consistently delivered projects on time
                                and on budget. Our client base includes large companies and small, highly profitable
                                enterprises and not-for-profits. We have worked in industries ranging from higher
                                education to health care, from manufacturing to finance.
                            </p>
                            <p>
                                High Performance Teams are rare. Like winning sports teams, they combine extraordinary
                                contributors, talented leadership, and refined processes to produce extraordinary
                                results. The benefits for our clients are simple: lower total cost, reduced time to
                                completion, and predictable results.
                            </p>
                            <div class="readmore" ng-click="track('readmore','about-us')">
                                <h5>Our story</h5>
                                <p class="line-lg"><span></span></p>
                                <p>
                                    Application software development has always been challenging, just look at the
                                    statistics on projects running over budget, missing deadlines, or failing to
                                    deliver. To make matters worse, the complexity of available technologies 
									and end user expectations continue to increase, along with expectations 
									for ever faster development cycles.
                                </p>
                                <p>
                                    Nevo was created to address these challenges directly. We recognized early on that
                                    there had to be a better way. There had to be some reason that everyone from
                                    startups to Fortune 100 corporations struggled with application development.
                                </p>
                                <p>
                                    The answer was simple - the skills, experience, and processes required to specify,
                                    design, and develop applications are quite different from those required to support,
                                    enhance and maintain them. Since 90% of the time and effort is spent supporting,
                                    enhancing, and maintaining, it is only logical that companies would be staffed and
                                    structured for those tasks. Other companies build comparably talented in-house
                                    teams, but find that they very often over committed.
                                </p>
                                <p>
                                    Nevo focused on building a high performance development team, one that could provide
                                    predictable results - on time and on budget development, at a cost substantially
                                    below either doing the work in-house, or using an off-shore alternative. It proved
                                    to be more difficult than we had imagined. But after more then twenty-five years and dozens of
                                    projects later, the advantages are clear.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-us end -->

<!-- Team  -->
<section id="team" class="team version-1">
    <div class="bg-effect image" style="background-image: url('./images/boston6.jpg');">
    </div>
    <h2 class="section-title">Our people</h2>
    <p class="section-description">
        <span class="hidden-xs hidden-sm hidden-print">Team Leaders and Principals at Nevo</span>
        <span class="hidden-md hidden-lg">Leaders and Principals</span>
    </p>
    <div class="container">
        <div class="row">
            <div class="team-carousel" style="overflow-x:hidden">
                <article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/peter-jaffe.jpg" alt="Peter Jaffe"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">Peter Jaffe</h5>
                            <p class="office">President and CEO</p>
                            <p class="about">
                                Let's identify and solve the&nbsp;root cause of the problem
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="peter" ng-click="track('readmore','peter')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
                <article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/ken-ledeen.jpg" alt="Kenn Ledeen"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">Kenneth S. Ledeen</h5>
                            <p class="office">Chairman and Founder</p>
                            <p class="about">
                                Let's exceed every one of our client's expectations
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="ken" ng-click="track('readmore','ken')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
                <article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/john-clarke.jpg" alt="John Clarke"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">John Clarke</h5>
                            <p class="office">Principal</p>
                            <p class="about">
                                Our strengths include clean and approachable solutions
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="clarke" ng-click="track('readmore','john')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
				<article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/buddy-williams.jpg" alt="Buddy Williams"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">Buddy Williams</h5>
                            <p class="office">Principal</p>
                            <p class="about">
                                Experience and perspective results in the best solutions
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="williams" ng-click="track('readmore','williams')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
                <article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/chris-belanger.jpg" alt="Chris Belanger"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">Chris Belanger</h5>
                            <p class="office">Technical Project Lead</p>
                            <p class="about">
                                Use the right tools for the job, not the hammer you know
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="belanger" ng-click="track('readmore','belanger')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
                <article class="team-lazy col-xs-12 col-sm-4 col-md-3 text-center"
                         ng-style="{'width': '{{teamMemberWidth}}', 'height': '{{teamMemberHeight}}', 'padding': '{{teamMemberPadding}}'}">
                    <div class="team-body"
                         ng-style="{'width': '{{memberWidth}}', 'height': '{{teamMemberHeight}}'}">
                        <div class="image-block">
                            <img src="./images/ethan-jacobson.jpg" alt="Ethan Jacobson"/>
                        </div>
                        <div class="team-description">
                            <h5 class="title">Ethan Jacobson</h5>
                            <p class="office">Senior Software Architect</p>
                            <p class="about">
                                We have built a very capable team with consistent delivery
                            </p>
                        </div>
                        <p class="text-center" style="position: absolute; bottom: 10px; width:100%; z-index: 1000">
                            <a id="ethan" ng-click="track('readmore','ethan')"
                               href class="btn btn-success btn-sm open-modal">Read more</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row white-section">
            <row>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px">
                    <h5 class="text-center" style="">Our Engineering Team</h5>
                </div>
            </row>
            <row>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="margin-right: 40px; margin-bottom: 20px">
                    <img src="./images/software-team1.jpg" style="max-height: 200px; max-width: 100%">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p>
                        Nevo's technologists are experts in every phase of the design and implementation process.
                        We have the capacity to participate from conception to completion, working in concert with your
                        staff or completely taking over product development.
                    </p>
                    <p>
                        Unifying our breadth of skills is a single-minded ability to find creative answers to
                        technological challenges — the more complex the better.
                        And unlike the code-and-go approach of some companies, our team collaborates with yours to
                        identify critical factors, implement new solutions, and deploy them rapidly.
                        In fact, we believe this intense engagement is what ensures our mutual success.
                    </p>
                </div>
            </row>
        </div>
    </div>
</section>
<!-- Team end -->

<!-- knowledge -->
<section id="our-knowledge" class="news-home version-1" style="padding-bottom: 10px">
    <h2 class="section-title">Our knowledge</h2>
    <p class="hidden-xs hidden-sm section-description margin-top">
        Our expertise
    </p>
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="products-list">
                    <article>
                        <div class="col-xs-12 col-sm-6 prod-image">
                            <img src="./images/knowledge2.jpg" alt="Knowledge"
                                 min-height="320px" style="max-width:100%; margin-bottom: 10px"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 prod-description text-left">
                            <p>
                                At Nevo, we feel it is our responsibility to understand your challenges, needs, and
                                opportunities, and then to choose or craft the solution that best matches your unique
                                constraints. In order to keep up with the latest industry trends and technological
                                capabilities, we communicate continually with others in the field and maintain strategic
                                affiliations with major industry groups.
                            </p>
                            <p>
                                Although we fearlessly experiment with pre-release products on our own, we protect our
                                clients from the risks involved in working with bleeding-edge technology. Having done
                                the research and experienced the learning curve, we recommend and implement solutions
                                only when we have confidence in their long-term viability as well as their
                                appropriateness to the task at hand.
                            </p>
                            <div>
                                <p>
                                    Nevo technologists have practical experience in the following technologies:
                                </p>
                                <ul class="readmore" ng-click="track('readmore', 'our-knowledge')">
                                    <li>Agile Methodology (SCRUM)
                                    </li>
                                    <li>Agile Management Tooling (JIRA, VersionOne, and similar)
                                    </li>
                                    <li>Business Rule Management (BRM)
                                    </li>
                                    <li>Continuous Integration (CircleCI, CruiseControl, Jenkins, Team City, and similar)
                                    </li>
                                    <li>CSS (including Sass and LESS)
                                    </li>
                                    <li>Data Replication / Data Distribution (often in the context of occasionally
                                        connected applications)
                                    </li>
                                    <li>Dependency Injection / Inversion of Control
                                    </li>
                                    <li>Document Management (Nolij, S3)
                                    </li>
                                    <li>Enterprise Application Integration (WebMethods, and EAI in general)
                                    </li>
                                    <li>Requirements and System Modeling (Enterprise Architect)
                                    </li>
                                    <li>HTML (including HTML5)
                                    </li>
                                    <li>Java, J2EE - Struts/Struts2, Hibernate, iBatis
                                    </li>
                                    <li>Javascript (including Typescript)
                                    </li>
                                    <li>JavaScript client frameworks - Angular, React
                                    </li>
                                    <li>Knowledge Management (Confluence, Basecamp, and similar)
                                    </li>
                                    <li>Messaging (MQSeries, MSMQ, WCF)
                                    </li>
                                    <li>Mobile Application Development (Xcode &amp; Swift for iOS, Java for Android, and Responsive Designed mobile web apps)
                                    </li>
                                    <li>N-Tiered Design
                                    </li>
                                    <li>.NET - C#, ASP.NET MVC &amp; WebForms, WPF, WinForms, LINQ, Entity Framework
                                    </li>
                                    <li>Object Oriented Design (OOD)
                                    </li>
                                    <li>Performance analysis / optimization
                                    </li>
                                    <li>Relational DBMS - SQLServer, Oracle, Sybase, and similar
                                    </li>
                                    <li>Service Oriented Architectures - RESTFul &amp; SOAP web services, and SOA in general
                                    </li>
                                    <li>Unit Testing (jUnit / nUnit / Jasmine)
                                    </li>
                                    <li>XML/XSL/XSLT
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="white-papers" class="customers version-3" style="padding-bottom: 10px">
    <div class="container">
        <p class="section-description dark-gray">
            You may be interested in our white papers
        </p>
        <div id='white-papers-carousel' class="customers-carousel">
            <div class="caurousel-item">
                <white-paper
                        image-src="high-performance.jpg"
                        imaeg-alt="High Performance"
                        title="10X Development: High Performance Software Teams"
                        pdf-file="High Performance Software Teams.pdf"
                        text="A High Performance Software Team is remarkably similar to a winning sports team. It needs
                        talent,
                        leadership, structure, and spirit. Just like a winning sports team, it doesn’t need to
                        be filled with superstars, but it can’t have any laggards either. The 1983 Celtics had
                        Larry Bird and
                        Robert Parish, but it took more than two stars to win. (Van Riper, 2008) Talent is a
                        necessary, but not
                        sufficient condition for success. Like sports teams, High Performance Software Teams
                        also">
                </white-paper>
            </div>
            <div class="caurousel-item">
                <white-paper
                        image-src="requirements-gathering.jpg"
                        imaeg-alt="Requirements Gathering"
                        title="The Requirements Gathering Process"
                        pdf-file="RequirementsProcess.pdf"
                        text="An effective requirements gathering process is perhaps the most critical driver of
                        software
                        project success. Getting the requirements right – and getting the right requirements –
                        can
                        mean the difference between a successful project – one that satisfies the needs of its
                        users
                        and is delivered on-time and on-budget – and one that fails">
                </white-paper>
            </div>
            <div class="caurousel-item">
                <white-paper
                        image-src="build-buy.jpg"
                        imaeg-alt="Build vs. Buy"
                        title="Making a Build vs. Buy Decision"
                        pdf-file="BuildVsBuy.pdf"
                        text="Few Information Technology topics have received the sustained interest visited
                        upon the question of whether organizations should acquire commercial off-the-shelf
                        (COTS)
                        software packages or build from scratch. No general answer exists to this complex
                        question,
                        but a solid understanding of the differences between the two, and a structured approach,
                        can remove both the uncertainty and the risk from this critical decision">
                </white-paper>
            </div>
            <div class="caurousel-item">
                <white-paper
                        image-src="vendor-selection1.jpg"
                        imaeg-alt="Vendor Selection"
                        title="Vendor Selection"
                        pdf-file="NevoVendorSelection.pdf"
                        text="Few Information Technology topics have received the sustained interest visited
                        upon the question of how origanizations should embark on process of selecting software
                        packages. No simple answer exists to this complex question, but a solid understanding of
                        the critical factros that influence the long-term success of a software implementation,
                        combined with a structured approach">
                </white-paper>
            </div>
            <div class="caurousel-item">
                <white-paper
                        image-src="team-building.jpg"
                        imaeg-alt="Team Building"
                        title="Building a High Performance Team"
                        pdf-file="Building a High Performance Team.pdf"
                        text="Like winning sports teams, great software development teams combine top talent,
                        leadership,
                        culture, and process (the development equivalent of a strategy and game plan). They
                        require
                        close cooperation and teamwork. They are the result of a process of continual
                        improvement and
                        refinement, and, like champion teams, embody the ability to respond dynamically to
                        changing
                        circumstances">
                </white-paper>
            </div>
        </div>
    </div>
</section>
<!-- knowledge end -->

<!-- services -->
<section id="services" class="info-block version-1" style="padding-top: 35px">
    <p class="line-lg" style="margin-bottom: 60px"><span></span></p>
    <h2 class="section-title">SERVICES</h2>
    <p class="section-description">We can help you build software in a way that meets your need.</p>
    <div class="container">
        <div class="row">
            <div class="info-block-inner">
                <div class="col-xs-12 col-sm-6 col-md-3 info-block-col">
                    <div class="info-block-img">
                        <img src="./images/services1.jpg" alt="Nevo Technologies"/>
                    </div>
                    <h5>Complete Software Development Services</h5>
                    <p class="nomargin-left dark-gray">
                        We can bring a full development team to bear, facilitate initial requirements discovery,
                        iteratively implement and refine the solution. We work with you to confirm the result meets your needs
                        and ensure a smooth handoff.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 info-block-col">
                    <div class="info-block-img">
                        <img src="./images/services2.jpg" alt="Nevo Technologies"/>
                    </div>
                    <h5>Augment your team</h5>
                    <p class="nomargin-left dark-gray">
                        Some of our clients just need additional capable sets of hands. We can engage experienced
                        developers to work with your team on-site or remotely.
                    </p>
                </div>
                <!-- note: hidden for small device and showing below on a new row -->
                <div class="col-xs-12 col-sm-6 col-md-3 info-block-col hidden-sm">
                    <div class="info-block-img">
                        <img src="./images/services3.jpg" alt="Nevo Technologies"/>
                    </div>
                    <h5>Project Management Guidance</h5>
                    <p class="nomargin-left dark-gray">
                        We can analyze your current requirements management and development practices, and recommend
                        ways to improve it.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 info-block-col hidden-sm">
                    <div class="info-block-img">
                        <img src="./images/services4.jpg" alt="Nevo Technologies"/>
                    </div>
                    <h5>Any combination</h5>
                    <p class="nomargin-left dark-gray">
                        We are happy to talk about any of your software needs, and determine an optimal way to help you reach
                        your goals.
                    </p>
                </div>
            </div>
        </div>
        <!-- note: these are only showinf on a small device on a new row (otherwise supported above)-->
        <div class="row visible-sm margin-top">
            <div class="col-xs-12 col-sm-6 col-md-3 info-block-col">
                <div class="info-block-img">
                    <img src="./images/services3.jpg" alt="Nevo Technologies"/>
                </div>
                <h5>Project Management Guidance</h5>
                <p class="nomargin-left dark-gray">
                    We can analyze your current requirements management and development practices, and recommend
                    ways to improve it.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 info-block-col">
                <div class="info-block-img">
                    <img src="./images/services4.jpg" alt="Nevo Technologies"/>
                </div>
                <h5>Any combination</h5>
                <p class="nomargin-left dark-gray">
                    We are happy to talk about any of your software needs, and determine an optimal way to help you reach
                    your goals.
                </p>
            </div>
        </div>
        <!-- end small device -->
        <div class="row " style="margin-top: 20px">
            <p class="line-lg"><span></span></p>
            <p class="section-description summary text-center dark-gray">
                Most importantly, you have complete ownership of all work products, and Nevo retains no rights to the
                intellectual property of our engagements.
            </p>
        </div>
    </div>
</section>
<!-- services end -->

<!-- case studies -->
<section id="case-studies" class="customers version-1">
    <div class="bg-effect image" style="background-image: url('./images/boston6.jpg');">
    </div>
    <div class="container">
        <h2 class="section-title">Case Studies</h2>
        <p class="section-description hidden-xs">
            The case studies below describe some of the ways in which we've helped our clients achieve their goals
        </p>
        <div id="case-studies-carousel" class="customers-carousel">
            <div class="caurousel-item case-study">
                <case-study
                        case-id="acushnet"
                        title="Order Entry System"
                        name="Acushnet Company"
                        industry="Sports Equipment Manufacturing"
                        website="https://www.acushnetcompany.com"
                        image-src="acushnetcompany.jpg"
                        image-alt="Acushnet Company"
                        text="Nevo turned the Order Entry system used by the Acushnet Company's sales reps from a cryptic data entry
                            tool into an asset for real-time collaboration with their customers when ordering Titleist, FootJoy, and other golf brand products">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="jh-captivate"
                        title="Long Term Care Insurance Selling System"
                        name="John Hancock"
                        industry="Financial Services"
                        website="http://www.johnhancock.com/products/long-term-care.html"
                        image-src="john-hancock-logo.png"
                        image-alt="John Hancock"
                        text="John Hancock engaged Nevo to build a collaborative sales and enrollment platform to assist insurance Producers and their clients
                            through the sales and underwriting process associated with long term care insurance">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="pearson"
                        title=""
                        name="Pearson"
                        industry="Education Services"
                        website="https://www.pearson.com/"
                        image-src="pearson-logo.png"
                        image-alt="Pearson"
                        text="Ever tried to scale a user repository to 60 million unique identities, with transaction rates of 10,000 concurrent requests, 
                        while maintaining response times of 100 milliseconds or less?">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="cigna"
                        title=""
                        name="Cigna"
                        industry="Health Insurance"
                        website="http://www.cigna.com/"
                        image-src="cigna-logo.png"
                        image-alt="Cigna"
                        text="Nevo worked with Cigna to build a mobile first approach to benefits enrollment across the entire landscape of employee benefits from medical insurance to pet sitting services">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="massey-quick"
                        title=""
                        name="Massey Quick"
                        industry="Financial Services"
                        website="http://www.masseyquick.com/"
                        image-src="massey-quick-logo.png"
                        image-alt="Massey Quick"
                        text="As Massey Quick grew, the use of Excel-based systems to manage significant aspects of their business was becoming a barrier to productivity. Nevo built two web applications for them">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="ircda"
                        title=""
                        name="Institute of Relevant Clinical Data"
                        industry="Health Care"
                        website="http://www.scamps.org/index.html"
                        image-src="IRCDA-logo.png"
                        image-alt="Institute of Relevant Clinical Data"
                        text="IRCDA engaged Nevo to create a prototype of a mobile application that enables clinicians to gauge their adherence to Care Protocols and assess treatment outcomes">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="danafarber"
                        title=""
                        name="Dana-Farber Cancer Institute"
                        industry="Health Care"
                        website="http://www.dana-farber.org/"
                        image-src="dfci-logo.png"
                        image-alt="Dana-Farber Cancer Institute"
                        text="Nevo built several web applications for Dana-Farber Cancer Institute to facilitate tracking of patient records for various internal processes">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="johnhancock"
                        title="Financial Information Portal"
                        name="John Hancock Mutual Funds"
                        industry="Financial Services"
                        website="http://www.johnhancock.com/products/mutual-funds.html"
                        image-src="john-hancock-logo.png"
                        image-alt="John Hancock"
                        text="John Hancock Mutual Funds (JH Funds), a subsidiary of Manulife, manages more than
                    $50 billion in variety of open- and closed-end mutual funds and various">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="berlitz"
                        title="Product Recommendation System"
                        name="Berlitz International"
                        industry="Language Learning Services"
                        website="http://www.berlitz.com/"
                        image-src="berlitz-logo.png"
                        image-alt="Berlitz International"
                        text="Berlitz International is a premier language learning company, operating over 450 learning
                            centers in over 60 countries. With worldwide headquarters in Princeton">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="keyeducation"
                        title="Order Processing Component Integration"
                        name="Key Education Resources"
                        industry="Retail Banking"
                        website="http://www.berlitz.com/"
                        image-src="key-logo.png"
                        image-alt="Key Education"
                        text="Key Education Resources (KER), a subsidiary of KeyBank, is a nationwide education funding
                            provider with over 50 years of experience providing Federal Education Loans">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="fidelity"
                        title="Account Access System Rapid Prototype"
                        name="Fidelity National Charitable Services"
                        industry="Charitable Giving Management"
                        website="http://www.fidelitycharitable.org/"
                        image-src="fidelity-logo.png"
                        image-alt="Fidelity"
                        text="Fidelity National Charitable Services revolutionized charitable giving by pioneering the
                            concept of the Donor Advised Fund, and subsequently growing the Fidelity Charitable Gift
                            Fund into one of the">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="harvard"
                        title="Educational Records System"
                        name="Harvard University"
                        industry="Post-Secondary Education"
                        website="http://www.harvard.edu/"
                        image-src="harvard-logo.png"
                        image-alt="Harvard University"
                        text="The Harvard Educational Records System (HERS) controls all non-financial data for Harvard
                            College and the Graduate School of Arts and Sciences">
                </case-study>
            </div>
            <div class="caurousel-item case-study">
                <case-study
                        case-id="harvard2"
                        title="Dossier Tracking System"
                        name="Harvard University"
                        industry="Post-Secondary Education"
                        website="http://www.harvard.edu/"
                        image-src="harvard-logo.png"
                        image-alt="Harvard University"
                        text="Harvard University’s Office of Career Services (OCS) is a comprehensive center serving
                            students, faculty, administrators and alumni/ae within the Faculty of Arts and Sciences">
                </case-study>
            </div>

        </div>
    </div>
</section>
<!-- case studies end -->

<!-- jobs -->
<section id="jobs" class="products version-1">
    <h2 class="section-title">Jobs at Nevo</h2>
    <p class="section-description">How is it to work at Nevo?</p>
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="products-list">
                    <article>
                        <div class="col-xs-12 col-sm-6 prod-image text-center">
                            <img src="./images/jobs1.jpg" alt="Jobs at Nevo" style="max-width: 70%;"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 prod-description">
                            <h5>Work at Nevo</h5>
                            <p class="line-lg"><span></span></p>
                            <p>
                                Nevo was created by developers, for developers. We knew from the outset that our ability
                                to build a successful software development consulting business depended entirely on our
                                ability to attract, develop, and retain top talent. We have worked hard to do just that,
                                and have created a unique organization.
                            </p>
                            <p>
                                The two most meaningful indicators of our success are that our clients return year after
                                year and project after project, and that we have extremely low staff turnover.
                            </p>
                            <p>
                                Clients come back because we do great work, and we're great to work with.
                                Great developers come to Nevo and stay because Nevo really is a special place to work.
                            </p>
                            <div class="readmore" ng-click="track('readmore', 'jobs')">
                                <p>
                                    We have worked hard for nearly two decades to make this happen.<br/>
                                    Here's how:
                                </p>
                                <p>
                                <ul>
                                    <li>We do exciting work. We use the latest technologies to develop applications.
                                        Developers at Nevo are constantly challenged by new projects and new ideas. If
                                        you like learning new things then you will love it here. If you want to apply
                                        and reapply the same stuff you learned years ago, you won't be happy here at
                                        all.
                                    </li>
                                    <li>Nevo is very collegial. We hire people who are not merely at the top of the
                                        developer ladder, but also (and often even more importantly) are great to work
                                        with. It's important to our clients, and equally important to our own team.
                                    </li>
                                    <li>At Nevo, developers are the <span
                                            style="text-decoration: underline;">most</span> important people. Being
                                        respected makes for a good working environment.
                                    </li>
                                    <li>We believe in solid engineering practices and processes. We know how to do
                                        things the right way - and we put it into practice every day on every project.
                                    </li>
                                    <li>Developers talk directly to users. No dedicated Business Analysts in the middle
                                        means much less is lost in translation. Everyone is better off. We build what
                                        users really want, and everyone has a greater sense of satisfaction.
                                    </li>
                                    <li>We have <b>no politics</b> - not a shred, not an iota, not a single word. Nevo
                                        is a pure meritocracy. People are respected for what they know and for the
                                        contributions they make.
                                    </li>
                                    <li>and Nevo is 100% employee owned. In 2009, 100% of the equity was purchased by
                                        the Nevo Employees Stock Ownership Trust. Nevo's current and future staff all
                                        benefit directly -and substantially- from owning 100% of the equity in the
                                        business.
                                    </li>
                                </ul>
                                </p><p>
                                We look for people who:
                            </p>
                                <p>
                                <ul>
                                    <li>Have a passion for, and deep understanding of programming. Nevo's staff are "top
                                        10%" developers - the best of the best.
                                    </li>
                                    <li>Are generalists, not specialists, comfortable at at all levels of application
                                        development..
                                    </li>
                                    <li>Like learning new technologies and domains, addressing new challenges, rather
                                        than applying what they already know.
                                    </li>
                                    <li>Get things done - Nevo developers are not just great coders, they are also great
                                        designers, capable of assessing alternatives, and coming to conclusions quickly
                                        and effectively.
                                    </li>
                                    <li>Are personable and articulate - Virtually everyone at Nevo has direct client
                                        contact. Getting rid of extra layers, putting developers in the same room as
                                        users, makes for a better result and greater personal satisfaction.
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <div class="text-center">
                                <a href="mailto:jobs@nevo.com?subject=Resume"
                                   ng-click="track('send', 'resume')"
                                   class="btn btn-success btn-sm">Submit resume</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- jobs end -->

<!-- contact-us block -->
<section id="contact-us" class="contact-block">
    <div class="bg-effect image" style="background-image: url('./images/boston6.jpg');">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <header style="">
                    <h2 class="section-title">Contact us</h2>
                    <p class="section-description">Feel free to contact us</p>
                </header>
                <form id="formSendFeedback" autocomplete="on">
                    <div class="row padding">
                        <div>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                                <input id="u_name" type="text" name="u_name" placeholder="Name"
                                       class="form-control name" value=""
                                       ng-model="contactName"/>
                                <field-error message="{{nameMessage}}"></field-error>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-phone"></span></div>
                                <input type="text" name="u_phone" placeholder="Phone"
                                       class="form-control phone" ng-model="phoneNumber" value=""/>
                                <field-error message="{{phoneMessage}}"></field-error>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-at"></span></div>
                                <input type="text" name="u_mail" placeholder="Enter email"
                                       class="form-control email" value=""
                                       ng-model="emailAddress"/>
                                <field-error message="{{emailMessage}}"></field-error>
                            </div>
                        </div>
                        <div>
                            <div class="input-group mail-block">
                                <div class="input-group-addon"><span class="fa fa-pencil"></span></div>
                                        <textarea class="form-control message" name="u_text" placeholder="Message"
                                                  ng-model="message" rows="4" ng-change="typingMessage()"></textarea>
                                <input class="btn btn-primary inverse-btn" type="button" value="Send"
                                       ng-click="sendMail()" ng-disabled="sendBusy" />
                                <field-error message="{{errorMessage}}"></field-error>
                            </div>
                        </div>
                    </div>
                    <div class="raw" style="background-color: white">
                        <div class="field-good" ng-show="goodMessage">{{goodMessage}}</div>
                        <div class="field-bad" ng-show="badMessage">{{badMessage}}</div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs nopadding">
                <img src="./images/contact-us.jpg?v=1" alt="Contact" width="100%" height="470px">
            </div>
        </div>
    </div>
</section>
<!-- contact-us block end -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="row" style="padding-bottom: 20px">
            <div class="col-md-12 col-lg-4">
                <h4>Location</h4>
                <p>
                    Nevo&nbsp;Technologies,&nbsp;Inc. is located in Cambridge&nbsp;Massachusetts.
                </p>
                <p class="line-lg"><span></span></p>

                <p class="footer-adress">26 Church Street, Cambridge, MA</p>
                <a class="footer-tell" href="tel:+16173546386">617.354.NEVO (6386)</a>
                <a class="footer-mail" href="mailto:info@nevo.com">info@nevo.com</a>
                <p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
                    <a id="directions" href class="btn btn-success btn-sm open-modal">Directions & Parking</a>
                </p>
            </div>

            <div class="col-md-12 col-lg-8 map-block margin-top">
                <div id="map" style="max-height: 300px; margin: 5px;"></div>
<!--
                        <span class="open-map">
                            <svg x="0px" y="0px" viewBox="0 0 67.1 88.7" enable-background="new 0 0 67.1 88.7">
                                <path class="pin-color" d="M59.1,55.3c4.7-6.1,8-13.4,8-21.8C67.1,15,52.1,0,33.6,0C15,0,0,15,0,33.6c0,8.3,3.3,15.7,8,21.8
                                c9.4,12.1,25.5,33.4,25.5,33.4S50.1,66.9,59.1,55.3z"/>
                                <circle fill="#FFFFFF" cx="33.6" cy="33.6" r="17.8"/>
                            </svg>
                        </span>
-->
            </div>
        </div>
        <div class="row text-center" style="padding-bottom: 20px">
            <p class="line-lg"><span></span></p>
            <div class="hidden-md hidden-lg">
                <p>&copy;&nbsp;{{nowYear}}&nbsp;Nevo&nbsp;Technologies,&nbsp;Inc.<br>
                    All&nbsp;rights&nbsp;reserved<br/>
                    <span style="color: black">Site version: {{version}}</span>
                </p>
            </div>
            <div class="hidden-xs hidden-sm">
                <p>&copy;&nbsp;{{nowYear}}&nbsp;Nevo&nbsp;Technologies,&nbsp;Inc.&nbsp;All&nbsp;rights&nbsp;reserved<br/>
                    <span style="color: black">Site version: {{version}}</span>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<div ng-include="'./includes/modals.html'"></div>
<div class="covers"></div>

<script src="./js/jquery.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/waypoints.min.js"></script>
<script src="./js/ScrollToPlugin.min.js"></script>
<script src="./js/TweenMax.min.js"></script>
<script src="./js/Slider.min.js"></script>
<script src="./js/Parallax.min.js"></script>
<script src="./js/readmore.min.js"></script>
<script src="./js/lodash.min.js"></script>
<script src="./js/main.min.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA22_7iAs50VDwHRbw7x3IMWIvLPFasZQU&loading=async&callback=initMap">
</script>

</body>
</html>
