

/*------------------------------------------------------------------
    Responsive styles
-------------------------------------------------------------------*/



/* ============================ Medium Devices, Desktops ============================
=====================================================================================  */

@media (min-width: 1025px) and (max-width:1300px) {
    a.prev {
        left:1%;
    }
    a.next {
        right:1%;
    }
    .news-home .news-body {
        a.prev {
            left:1%;
        }
        a.next {
            right:1%;
        }
    }
}

@media only screen and (max-width: 1024px) {    
    // --------- main-menu --------
    .main-menu {
        .navbar-main-logo {
            display:block;
            svg,
            img {
                width:90px;
            }
        }
        .fix-logo {
            display:none;
        }
        .scroll-logo {
            display:block;
        }
        &.mobile-menu.mobile-menu-open {
            .navbar-nav {
                left:0;
            }
        }

        &.version-2 {
            .navbar-nav {
                li.first-logo {
                    display:none !important;
                }
            }
        }
    }

    .navbar-fixed,
    .mobile-menu {
        height: 50px;
        .main-menu-inner {
            height:50px;
            margin:0;
        }
        li {
            &.dropdown {
                margin-bottom: 0;
                padding-bottom: 0;
                a {
                    .fa {
                        display: block;
                        margin:5px 0 0;
                    }
                }
                .dropdown-menu {
                    float: none;
                    position: relative;
                    display: block;
                    padding-top:0;
                    li {
                        height: auto !important;
                        border:none !important;
                        background-color: transparent !important;
                        a {
                            color:$darkGrayColor !important;
                            text-shadow:none;
                            text-align: center;
                            line-height: 1.2em !important;
                        }
                        &:last-child {
                            padding-bottom: 10px;
                            border-bottom:1px solid rgba(0, 0, 0, 0.1);
                        }
                        &:first-child {
                            padding-top: 0 !important;
                        }
                    }
                }
            }
        }
        .navbar-nav {
            > li.reserve {
                max-width:400px;
                margin-left:13px;
                margin-bottom: 20px;
                padding:13px 20px;
                opacity:1;
                @include transform(translateX(0));
            }
        }
    }


    .main-section{
        &.version-4 {
            .main-section-inner {
                .main-section-slider {
                    .slide {
                        .main-section-title {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

// Medium devices
@media (min-width: 768px) and (max-width: 1024px) {
    
    .section-title {
        font-size: 2.333em;
    }
    .section-description {
        font-size: 1.2em;
    }
    
    // -------  ------- 
    .main-section {  
        .mbYTP_wrapper {
            display: none;
        }
    }
    
    // -------  ------- 
    .dropdown-menu {
        float: none;
        position: relative;
        display: block;
    }
    
    // ------- info-block ------- 
    .info-block {
        .info-block-inner {
            margin-top: 0;
        }
        .info-block-col {
            margin-bottom: 0;
        }
    }
    
    // ------- customers ------- 
    .customers {
        .customers-lazy {
            min-height: auto;
            .description-block {
                p {
                    font-size:1em;
                }
            }
        }
    }
    
    // ------- products ------- 
    .products {
        .products-body {
            .products-list {
                .prod-description {
                    padding-left: 20px;
                    padding-right: 65px;
                    vertical-align: top;
                }
            }
        }
        &.version-2 {
            .products-body {
                .products-list {
                    width:85%;
                    padding:0;
                    .prod-image {
                        width:100%;
                    }
                    .prod-description {
                        width:100%;
                        padding:0 20px;
                    }
                }
            }
        }
        &.version-3 {
            .products-body {
                &:before,
                &:after {
                    content:'';
                    position:absolute;
                    top:0;
                    width:80px;
                    height:100%;
                    z-index:2;
                }
                &:before {
                    left:0;      
                    @include linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.79) 50%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
                } 
                &:after {
                    right:0;
                    @include linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.79) 50%, rgba(255,255,255,1) 100%);
                }
                .products-list {
                    position:relative;
                    width:100%;
                    padding:0 60px;
                    article {
                        width:50%;
                    }
                    .prod-image {
                        width:100%;
                    }
                    .prod-description {
                        width:100%;
                        min-height: auto;
                        padding:0 20px;
                        h4 {
                            margin-bottom: 20px;
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }
    }
    
    // -------  ------- 
    .team {
        .container {
            .team-carousel {
                .team-lazy {
                    img {
                        @include transform( scale(1) !important) ;
                    }
                } 
            }
        }
        &.version-2 {
            .team-body {
                .image-block{
                    .inner-wrap,
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    // ------- news-home ------- 
    .news-home {
        &.version-2 {
            .news-body {
                .news-list {
                    .news-item {
                        .news-text-block {
                            padding:0;
                            .inner-wrap {
                                padding: 20px;
                                .line-lg {
                                    margin:5px 0;
                                }
                                .news-text-block-text {
                                    max-height: 200px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ------- pricing-block -------
    .pricing-block {
        .pricing-list {
            > li {
                width: 23%;
                &.options-list {
                    width: 30%;
                    padding:0;
                }
            }
        }
    }

    // ------- counter-block ------- 
    .counter-block {
        .counter-list {
            li {
                width:40%;
                margin:2% 1%;
                margin-bottom: 0;
                span {
                    b {
                        font-size:3.2em;
                    }
                }
            }
        }
    }
    
    // ---------- contact-block ---------
    .contact-block {
        .subscribe {
            svg {
                margin: 30px auto 34px;
            }
        }
    }
    
    // -------  ------- 
    .comments {
        ul.reply-comment {
            padding-left: 50px;
        }
        
    }
    
    .blog-page{
        .comments {
            ul {
                margin: 0 0 40px;
            }
        }
    }
    
    
}
@media (min-width: 768px) and (max-width: 991px) {  
    .blog-page {
        .recent-posts {
            li {
                .image-block {
                    float: none;
                    width: 100%;
                }
                .description-block {
                    padding: 10px 0;
                }
            }
        }
        &.blog-page-post {
            article {
                .news-description-block {
                    padding: 0 20px 0 80px;
                }
            }
        }
    }

    // -------- footer -------
    footer {
        .map-block {
            clear: both;
            #map {
                float: none;
            }
        }
    }
}


/* ==========================  Small Devices ===================================
================================================================================  */
@media only screen and (max-width: 767px) {    
    body {
        padding-bottom: 0 !important;
    }

    section {
        margin:0;
        padding: 50px 0;
    }
    .section-title {
        font-size:2em;
    }
    .section-description {
        margin-bottom: 30px;
        padding: 0 20px;
        font-size: 1.2em;
    }

    a.next,
    a.prev {
        display: none;
    }

    .accordion-slider .slide {
        padding: 0 15px;
    }

    .main-section.no-index {
        height: 350px;
        .container {
            .main-section-title {
                h1 {
                    font-size: 3.333em;
                }
            }
        }
    }



    // -------- callback popup ---------
    #reservation {
        overflow: auto;
        .modal-header {
            padding-top:17px;
        }
        .modal-title {
            font-size: 1.5em;
        }
        .line-lg {
            margin:0;
        }
        .modal-body {
            padding:15px 20px 15px;
        }
        .input-group {
            height:35px;
            margin:10px 0;
            .input-group-addon {
                width:35px;
                height:35px;
                .fa {
                    width:35px;
                    line-height:35px;
                }
            }
            .form-control {
                height:35px;
                padding-left: 35px;
                line-height:35px;
            }
            &.mail-block {
                .form-control {
                    height:100px;
                    padding-top: 0;
                }
            }
        }
        .btn-success {
            margin-top:0;
            margin-bottom:0;
        }
    }
    form#formReservation .input-group,
    form#formReservation-2 .input-group{
        margin: 15px 0;
    }

    // --------- main-menu --------
    .main-menu {
        &.mobile-menu.mobile-menu-open {
            .navbar-nav {
                left:15px;
            }
        }
    }


    // --------- main-section ---------
    .main-section {
        .slide-bottom{
            bottom: -1%;
        }
        .head-title-block.main-section-title {
            padding:0 20px;
            h1 {
                margin: 0 0 10px !important;
                font-size: 2.5em;
            }
            h3 {
                margin-bottom: 20px;
                font-size:1.2em;
            }
        }
        .mbYTP_wrapper {
                display: none;
        }
        &.version-1 {
            .main-block-svg {
                bottom: 30px;
            }
        }
        
        &.version-3 {
            &:after {
                opacity:0.4;
            }
            .head-title-block {
                .main-section-title {
                    h1 {
                        font-size:3em;
                    }
                    h3 {
                        font-size:1.5em;
                    }
                }
            }        
        }
        &.version-4 {
            padding:50px 0 0 !important;
            .main-section-inner {
                .main-section-slider { 
                    .slide {
                        .main-section-title {
                            h1 {
                                font-size:2em;
                            }
                            h3 {
                                font-size:1.5em;
                            }
                            a.reserve-popup {
                                margin-right:5px;
                            }
                        }
                        img {
                            width:150%;
                        }
                    }
                }
            }
            .arrow-block {
                bottom:20px;
                display: none; 
                a.next,
                a.prev {
                    bottom:0;
                    margin-bottom:10px;
                 }
                .next-view,
                .prev-view {
                    visibility:hidden;
                }
            } 
        }
    }

    //--------- info-block ---------
    .info-block {
        .info-block-col {
            width: 100%;
            margin: 1px 1px 20px;
        }
        &.version-1 {
            .info-block-col {
                &:last-child {
                    margin-bottom:0;
                }
            }
        }
        &.version-2 {
            .section-description {
                margin-bottom: 0;
            }
            .info-block-col {
                margin: 0 0 30px;
                width: 100%;
                padding:0;
                &:last-child {
                    margin-bottom: 0;
                }
                h5 {
                    margin-top:10px;
                }
            }
        }
        &.version-3 {
            .info-block-col{
                margin-top: 40px;
                padding:0 20px 0;
                &:last-child {
                    margin-bottom: 0;
                }
                h5 {
                    margin-top: 10px;
                }
            }
        }
    }

    //--------- customers ---------
    .customers {
        .customers-carousel {
            padding-bottom:0;
            .customers-lazy {
                .image-block {
                    margin-right: 15px;
                }
                .description-block {
                    padding:15px;
                    p {
                        font-size:1em;
                    }
                }
                .fa {
                    display: none;
                }
            }
        }
        &.version-2 {
            .customers-lazy {
                .left-block {
                    display: block;
                    width: 200px;
                    margin: auto;
                }
                .description-block {
                    width: 100%;
                    margin:0;
                    p {
                        margin-top: 20px;
                        padding:20px;
                        &:after {
                            top:-40px;
                            left:50%;
                            margin:0 0 0 -20px;
                            border: 20px solid transparent;
                            border-bottom: 20px solid rgba(255,255,255,1); 
                        }
                    }
                }
            }
        }
    }

    .description-block {
        padding: 15px 10px 10px 45px;
        p {
            font-size: 1.2em;
        }
    }

    // --------- products ---------
    .products {
        .products-body {
            .products-list {
                padding:0;
                article {
                    padding:0 15px;
                    .prod-image {
                        width: 100%;
                        padding: 0;
                        img {
                            max-width: 250px;
                        }
                    }
                    .prod-description {                    
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
        &.version-2 {
            .products-body {
                .products-list {
                    article {
                        width: 100%;
                    }
                }
            }
        }
         &.version-3 {
            .products-body {
                .products-list {
                    article {
                        .article-inner {
                            border:none;
                        }
                        width: 100%;
                    }
                }
            }
        }
    }
    #products.version-4 {
        .news-img-block {
            margin-bottom: 20px;
        }
    }

    // -------- team -------
    .team {
        .container {
            padding:0;
            .team-carousel {
                padding-bottom:0;
                .team-lazy {
                    img {
                        @include transform(translateY(0) scale(1) !important) ;
                    }
                    .team-description {
                        position:relative;
                        @include transform(translateY(0px));
                    }
                } 
            }
        }
        &.version-1 {
            padding-left: 15px;
            padding-right: 15px;
        }

        &.version-2 {
            padding-bottom: 0;
            .team-container {
                border: none;
                article {
                    width: 50%;
                }
            }
            .team-body {
                .image-block{
                    .inner-wrap,
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }


    // ------- pricing-block --------
    .pricing-block {
        .pricing-list {
            > li {
                width:50%;
                &:nth-child(1),
                &:nth-child(2) {
                    padding-bottom:40px;
                }
                &.options-list {
                    padding:0;
                    .pricing-inner-list {
                        li {
                            line-height: 40px;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

    // ------- gallery-block --------
    .gallery-block {
        .gallery-list {
            a {
                width:48%;
                margin:1%;
                img {
                    @include transform(scale(1)!important);
                }
            }
        }
    }

    // ------- counter-block --------
    .counter-block {
        .counter-list {
            li {
                width:46%;
                margin:40px 0 0;
                text-align: center;
            }
        }
    }

    // ------- news-home --------
    .news-home {
        .news-body {
            .news-list {
                .news-item{
                    .news-img-block {
                        position: relative;
                        margin-bottom: 20px;
                        overflow: hidden;
                        .news-date {
                            display: none;
                        }
                    }   
                    .news-text-block {
                        left: 0;
                        .news-text-block-text {
                            max-height: 100%;
                        }
                    }
                }
            }
        }
        &.version-2 {
            .news-body {
                padding: 0;
                .news-list {
                    border:none;
                    .news-item{
                        width:100%;
                        margin-top:15px;
                        text-align: left;
                        border: 1px solid $lightGrayColor;
                        &:before {
                            display: none;
                        }
                        .news-img-block {
                            margin:0;
                            height: auto;
                            &:after {
                                display: none;
                            }
                        }
                        .news-text-block {
                            height: auto;
                            img {
                                display: none;
                            }
                            h5 {
                                margin:15px 0 0;
                            }
                            .inner-wrap {
                                position: relative;
                                top:0;
                                padding: 0 15px;
                                @include transform(translateY(0));
                            }
                        }
                        .btn {
                            position: relative;
                            top:0;
                            left:0;
                            margin:15px;
                            color: $defaultThemeColor;
                            border-color: $defaultThemeColor;
                            opacity: 1;
                            @include transform(translate(0));
                        }
                    }
                }
            }
        }
    }

    // ---------- contact-block ---------
    .contact-block {
        padding: 15px 0;
        header {
            .section-description {
                padding-left: 0;
            }
        }
        .subscribe {
            .input-group {
                display: block;
                margin:0 auto;
            }
            .btn {
                margin-top: 15px;
            }
        }
        .nopadding-right {
            padding-right:15px;
        }
        .nopadding-left {
            padding-left:15px;
        }
    }


    // ---------- blog-page ----------
    .blog-page {
        margin: 50px auto 0px;
        article {
            .news-description-block {
                padding-right: 20px;
                .news-info-block {
                    .left {
                        p.first {
                            span {
                                height: auto;
                                width: auto;
                            }
                        }
                    }
                    p {
                        display: block;
                        margin: 0 0 10px !important;
                        span {
                            margin-right:10px;
                            text-align: left;
                        }
                    }
                }
            }	
        }
        .text-title {
            margin:20px 0;
        }
        .content {
            padding:0 15px;
        }
        aside {
            padding:0 15px;
        }
        .pagination-block {
            margin: 40px 0px 30px;
        }
        .comments {
            ul {
                margin: 0 0 40px;
            }
        }
    }

    .blog-page.blog-page-post {
        article {
            .news-description-block {
                padding: 0px 15px 0px 70px;
            }
        }
        .content {
            padding: 0px 10px 50px;
            clear: both;
        }
        .comments {
            .comments-list-inner {
                .comments-list-head {
                    padding: 15px 20px;
                }
            }
            .comment-text {
                padding: 20px;
            }
            .input-group,
            .input-group.mail-block {
                width: 100% !important;
            }
            ul.reply-comment {
                padding-left: 25px;
            }
        }
    }

    .pagination-block,
    .comments .form-inline {
        margin-bottom: 40px;
    }

    .recent-posts {
        li {
            .image-block {
                float: left;
                width: 100px;
            }
            .description-block {
                padding-left: 120px;
            }
        }
    }


    // -------- footer -------
    footer {
        position: relative;
        padding-bottom: 35px;
        .footer-contacts-col {
            position: static;
        }
        .footer-services-col {
            
        }
        .footer-copyright {
            position: absolute;
            left: 15px;
            bottom:5px;
            width: 100%;
        }
        .footer-social {
            margin-bottom: 0;
            padding-top: 5px;
            span {
                margin-bottom: 0;
            }
        }
        .instagram-list {
            margin-bottom: 50px;
        }
        .map-block {
            clear: both;
            #map {
                float: none;
            }
        }
    }
} // close media


/* ==========================  extra Small Devices =============================
================================================================================  */
@media (min-width: 480px) and (max-width: 767px) {
    // -------- team -------
    .team {
        &.version-2 {
            .team-container {
                border-top: 1px solid $lightGrayColor;
            }
        }
    }

    // -------- footer -------
    footer {
        .footer-contacts-col,
        .footer-services-col {
            float: left;
            width: 50%;
        }
    }
}

@media only screen and (max-width: 479px) {
    
    // ----customers ----
    .customers {
        .customers-carousel {
            padding-bottom:0;
            .customers-lazy {
                .image-block {
                    float: none;
                    display: inline-block;
                    max-width: 100%;
                    margin-top: 20px;
                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }
                .description-block {
                    padding:20px 20px 0 20px;
                    p {
                        font-size:1em;
                    }
                }
                .fa {
                    display: none;
                }
            }
        }
        &.version-1 {
            .customers-carousel {
                .customers-lazy {
                    .description-block {
                        padding:20px;
                    }
                }
            }
        }
    }

    // ----- team -----
    .team {
        .team-carousel {
            .team-lazy {
                width:100%;
            }
        }
        &.version-2 {
            .team-container {
                border: none;
                article {
                    width: 100%;
                    border-top: 1px solid $lightGrayColor;
                    &:first-child {
                        border-top: none;
                    }
                }
            }
            .team-body {
                .team-description {
                    height: 100px;
                }
            }
        }
    }

    // ------- pricing-block --------
    .pricing-block {
        .pricing-list {
            > li {
                width:50%;
                &.options-list {
                    padding:0;
                    .pricing-inner-list {
                        li {
                            line-height: 1em;
                            padding-top: 4px;
                        }
                    }
                }
            }
        }
    }

    .counter-block {
        .counter-list {
            li {
                width: auto;
                display: block;
            }
        }
    }
}

















