
/*------------------------------------------------------------------
    Customers section styles
-------------------------------------------------------------------*/

.customers {
    color: $whiteColor;
    .container {
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .customers-carousel {
        &:after {
            clear: both;
            content: "";
            height: 100%;
            width: 100%;
        }
    }
    
    .caurousel-item {
        width: 100%;
    }
    
    .customers-lazy {
        position: relative;
        max-width:900px;
        min-height: 250px;
        margin: 0 auto;
        overflow: hidden;
        border-radius:4px;
        background-color: $whiteColor;
        
        .image-block {
            float:left;
            width:190px;
            background-size: cover;
            background-position: center;
            img {
                width:auto;
                height:auto;
                max-width:100%;
                max-height:100%;
            }
        }
        .description-block {
            position: relative;
            padding: 45px 80px 25px 240px;
            color:$darkGrayColor;
            text-align: left;
            .fa {
                position: absolute;
                top: 33px;
                left: 170px;
                width: 40px;
                height: 40px;
                color: $whiteColor;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                background-color: $defaultThemeColor;
            }
            h5 {
                margin: 0 0 5px;
            }
            .post{
                display: block;
                margin-top: 0px;
                margin-bottom: 15px;
                font-family: inherit;
                color:$lightGrayColor;
                font-weight:300;
            }
            p {
                margin: 0;
                color: $darkGrayColor;
                font-size: 1.267em;
                font-weight:300;
                line-height: 1.5em;
            }
        }
        
    }
    .slider-dots {
        li {
            background-color: rgba(255, 255, 255, .6);
            &:hover {
                background-color: rgb(255, 255, 255);
            }
        }
        li.active {
            background-color: rgb(255, 255, 255);
        }
    }

    // style version 1
    &.version-1 {
        .section-title {
            color: $whiteColor;
        }
        .section-description {
            color: $whiteColor;
        }
        .customers-lazy {
            .description-block {
                h5 {
                    font-weight:500;
                }
                .post {
                    display: block;
                    color: $defaultThemeColor;
                }
            }
        }
    }

    // style version 2
    &.version-2 {
        .section-title {
            color: $whiteColor;
        }
        .section-description {
            color: $whiteColor;
        }
        .customers-lazy {
            min-height: auto;
            background-color: transparent;
            .left-block { 
                display: inline-block;
                width: 20%;
                vertical-align:middle;
                .image-block {
                    float: none;
                    display:block;
                    width:100%;
                    overflow: hidden;
                    border: 2px solid $whiteColor;
                    border-radius:100%;
                }
            }
            .description-block {
                float: none;
                display: inline-block;
                width:79%;
                margin-top:0;
                padding:0 0 0 70px;
                vertical-align:middle;
                p {
                    position:relative;
                    padding:30px 70px;
                    background-color:$whiteColor;
                    border-radius:4px;
                    &:after {
                        content:"";
                        position:absolute;
                        left: -40px;
                        top: 50%;
                        margin-top: -20px;
                        border: 20px solid transparent;
                        border-right: 20px solid $whiteColor; 
                    }
                    span {
                        display: block;
                        margin-top: 20px;
                        font-family: 'Lato', sans-serif;
                        color: $darkGrayColor;
                        text-align: left;
                        font-weight: 500;
                    }
                }
            }

        }
    }
}