<div>
    <div class="row hidden-xs" style="height: 300px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
            <img ng-src="{{'./images/' + imageSrc}}" alt="{{imageAlt}}" style="max-width: 80%; max-height: 300px" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5" style="text-align:left;">
            <div class="dark-gray">
                <h5>{{title}}</h5>
                <p class="line-lg"><span></span></p>
                <div class="news-text-block-text" style="z-index: 1000">
                    <p>{{text}}
                        <a target="_blank"
                           href="http://nevo.com/whitepapers/{{pdfFile}}">
                            <br/><img src="./images/pdf-icon.png" alt="pdf" height="25px">
                            <span style="position: relative; top:5px">Read more</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row visible-xs" style="height: 300px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center;">
            <img ng-src="{{'./images/' + imageSrc}}" alt="{{imageAlt}}" style="max-width: 100%; max-height: 100%" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: left;">
            <div class="dark-gray">
                <h5>{{title}}</h5>
                <p class="line-lg"><span></span></p>
                <div class="news-text-block-text" style="z-index: 1000">
                    <p>{{text}}
                        <a
                           ng-click="track('whitepaper', title)"
                           href="http://nevo.com/whitepapers/{{pdfFile}}">
                            <br/><img src="./images/pdf-icon.png" alt="pdf" height="25px">
                            <span style="position: relative; top:5px">Read more</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
