<STYLE TYPE="text/css">

BODY
{
    font-size : 11pt;
    line-height : 15pt;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
}

A
{
    color: #339900;
    text-decoration: none;
}

.bodyBackGround 
{
    background-color: #FFFFCC;
}

A:visited
{
    color: #339900;
    text-decoration: none;
}
A:hover
{
    color: #339900;
    text-decoration: underline;
}

A.obvious
{
    color: #000000;
    text-decoration: underline;
}

A.obvious:visited
{
    color: #000000;
    text-decoration: underline;
}
A.obvious:hover
{
    color: #339900;
    text-decoration: underline;
}

A.nevotop
{
    color: #FFFFFF;
    text-decoration: none;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 8pt;
    line-height : 10pt;
}
A.nevotop:visited
{
    color: #FFFFFF;
    text-decoration: none;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 8pt;
    line-height : 10pt;
}
A.nevotop:hover
{
    color: #FFFFFF;
    text-decoration: underline;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 8pt;
    line-height : 10pt;
}


UL LI        
{
    list-style: square;
   margin-bottom: 0pt;
   margin-top: 0pt;
    padding-top: 2pt;
   padding-bottom: 2pt;
   line-height: 10pt;
}

OL LI        
{
   margin-bottom: 0pt;
   margin-top: 0pt;
    padding-top: 2pt;
   padding-bottom: 2pt;
   line-height: 10pt;
}

.leaderText {
    color:#339900;
    font-family : Times, Arial, Verdana, Geneva, Helvetica, sans-serif;
    letter-spacing: 2;
    font-size : 15pt;
    line-height : 32pt;
    font-weight : bold
}

.companyNameText {
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 13pt;
    line-height : 28pt;
    font-weight : bold
}

.bodyText {
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 11pt;
    line-height : 20pt;
}

.tightBodyText {
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 9pt;
    line-height : 10pt;
}

.listText {
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 11pt;
    line-height : 15pt;

}

.sectionTitleText {
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 13pt;
    font-weight : bold;
    line-height:13pt;
}

.caption {
    width:200px;
    color:#000000;
    font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size : 11pt;
    line-height : 11pt;
}

.field {
    padding-top:3px;
    padding-left:25px;
}

.dollarField {
    padding-top:3px;
    padding-left:13px;
}

.menuTable {
    margin-bottom:20px;
    width:644px;
    background-color:#000000;
    border: none;
}
</STYLE>
