/*------------------------------------------------------------------
    bg effect: scale, video bg, image bg
-------------------------------------------------------------------*/

// scale effects
@include keyframes(scale-effect) {
  0%   {  @include transform(scale(1));}
  50%  {  @include transform(scale(1.3));}
  100% {  @include transform(scale(1));}
}

.bg-effect {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:-1;
    &.scale {
        opacity:1;
        background-position: center;
        background-size: cover;
        @include animation(scale-effect 80s infinite linear);
        @include filter(sepia(60%));
    }
    &.image {
        opacity:1;
        background-position: center;
        background-size: cover;
        @include filter(sepia(60%));
    }  
    &.bg-video {
        z-index:-1;
        opacity:1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}