
/*------------------------------------------------------------------
    Counter section styles
-------------------------------------------------------------------*/

.counter-block {
    .section-title {
        color:$whiteColor;
    }
    .section-description {
        color:$whiteColor;
    }
    .counter-list {
        margin:0;
        padding:0;
        text-align: center;
        list-style:none;
        li {
            display: inline-block;
            width:22%;
            margin:0 1%;
            padding:0 2%;
            vertical-align: top;
            text-align: left;
            div {
                display:block;
                padding-bottom: 20px;
                color:$whiteColor;
                border-bottom:1px solid rgba(255,255,255,0.5);
                svg {
                    display: inline-block;
                    width:50px;
                    vertical-align: middle;
                }
                b {
                    display: inline-block;
                    font-family: "Lato", sans-serif;
                    font-size:3.333em;
                    line-height: 1em;
                    font-weight: 400;
                    vertical-align: middle;
                }
                i {
                    display: inline-block;
                    margin:0 5px;
                    font-size: 2em;
                    font-style: normal;
                    line-height: 1em;
                    vertical-align: bottom;
                }
            }
            p {
                margin:0;
                padding-top:20px;
                color:$whiteColor;
                font-size:1em;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
    }
    // style version 2
    &.version-2 {
        .section-title {
            color: $darkGrayColor;
        }
        .section-description {
            color:$lightGrayColor;
        }
        .counter-list {
            li {
                svg * {
                    fill: $defaultThemeColor;
                }
                .fa {
                    color: $defaultThemeColor;
                }
                div {
                    color:$defaultThemeColor;
                    border-color: $defaultThemeColor;
                }
                p {
                    color: $darkGrayColor;
                    padding-top: 20px;
                }
            }
        }
    }
    &.parallax-header {
        .counter-list {
            padding:40px 0 0;
        }
    }
}