
/*------------------------------------------------------------------
    footer styles
-------------------------------------------------------------------*/

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: $whiteColor;
    text-align: left;
    background-color: #000;
    
    h4 {
        margin-top: 40px;
        color: $whiteColor;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h5 {
        color: $whiteColor;
        margin-top: 50px;
        letter-spacing: 1px;
    }
    .line-lg {
        margin: 20px 0;
        span {
            display: block;
            margin:0;
            border-color:$defaultThemeColor;
        }
    }

    p,
    a,
    span {
        display: block;
        margin-bottom: 10px;
        color: $whiteColor;
        font-weight: 300;
    }
    a {
        &:hover {
            color: $whiteColor;
            opacity:0.5;
        }
    }

    .footer-mail,
    .footer-tell,
    .footer-adress,
    .services-footer {
        font-family: 'Lato', sans-serif;
        font-size: 1.267em;
    }

    // footersocial
    .footer-social {
        padding: 50px 0 0;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 15px;
            a {
                font-size:1.5em;
                span {
                    color: $defaultThemeColor;
                    @include transition(.3s);
                }
                &:hover span {
                    opacity: .7;
                }
            }
        }
    }
    
    // copyright
    .footer-copyright p {
        display: inline-block;
        margin: 0;
        font-size: 0.857em;
    }

    // instagram
    .instagram-list {
        padding:0;
        list-style: none;
        @include clearfix;
        li {
            float: left;
            width:55px;
            margin-right:10px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    // map styles
    .map-block {
        position: relative;
        #map {
            float: right;
            position: relative;
            width: 100%;
            height: 380px;

        }
        .open-map {
            position:absolute;
            top:0;
            left:0;
            z-index:10;
            width: 100%;
            height: 100%;
            opacity:1;
            background-color: rgba(0,0,0,0.85);
            cursor: pointer;
            @include transition(opacity 0.5s, z-index 0s 0.5s);
            &._open-map {
                z-index:-1;
                opacity:0;
            }
            svg {
                position: absolute;
                top: 50%;
                left:50%;
                width:40px;
                @include transform(translate(-50%,-50%));
                .pin-color {
                    fill: $defaultThemeColor;
                }
            }
        }    
    }
}