<STYLE TYPE="text/css" rel="stylesheet">

BODY
{
	font-size : 8pt;
	line-height : 10pt;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
}

A
{
	color: #1c759b;
	text-decoration: none;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}
A:visited
{
	color: #1c759b;
	text-decoration: none;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}
A:hover
{
	color: #CC0066;
	text-decoration: underline;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}

A.nevotop
{
	color: #FFFFFF;
	text-decoration: none;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}
A.nevotop:visited
{
	color: #FFFFFF;
	text-decoration: none;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}
A.nevotop:hover
{
	color: #FFFFFF;
	text-decoration: underline;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}

UL LI        
{
	list-style: square;
}

UL.navbar LI.navbar       
{
	list-style: square;
	padding-bottom: 3pt;
	padding-top: 3pt;
	color:#FF567F;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
   margin-bottom: 0pt;
   
}
LI.navbarselected       
{
	list-style: square;
	padding-bottom: 3pt;
	padding-top: 3pt;
	color:#CC0066;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
   margin-bottom: 0pt;
   
}
.bodyBackGround 
{
	background-color: #FFFFFF;
}

.leaderText {
	color: #1c759b;
	font-family : Times, Arial, Verdana, Geneva, Helvetica, sans-serif;
	1letter-spacing: 2;
	font-size : 12pt;
	line-height : 48pt;
	font-weight : bold
}

.companyNameText {
	color:#1c759b;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 10pt;
	line-height : 30pt;
	font-weight : bold
}

.bodyText {
	color:#1c759b;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 24pt;
}
.tightBodyText {
	color:#1c759b;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
}
.tightBodyTextWhite {
	color:#CC0066;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
	text-decoration: none;
}
.listItemSelected {
	color:#FFFFCC;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 10pt;
	text-decoration: none;
	padding-bottom: 4pt;
	padding-top: 4pt;
   margin-bottom: 0pt;

.listText {
	color:#1c759b;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	line-height : 20pt;

}
.fromWhereText {
	color:#1c759b;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-stretch: expanded;
	font-size : 12px;
	line-height : 31px;
	font-weight : bold;
}

</STYLE>
