<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MailTo" value="pjaffe@nevo.com"/>
		<add key="MailBcc" value="pjaffe@nevo.com"/>
	</appSettings>
	<system.webServer>
		<directoryBrowse enabled="true"/>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
		</staticContent>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.web>
		<compilation debug="true" />
		<customErrors mode="On" defaultRedirect="http://nevo.com/">
      		<error statusCode="404" redirect="http://nevo.com/"/>
    	</customErrors>
    </system.web>
	<location path="our-home/home.htm">
        <system.webServer>
          <httpRedirect enabled="true" destination="http://nevo.com/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
</configuration>